<!-- Begin Article
================================================== -->
<div class="container">
  <div class="row">

    <!-- Begin Fixed Left Share -->
    <div class="col-md-1 col-xs-11" style="z-index: 1">
      <app-contact-bar></app-contact-bar>
    </div>
    <!-- End Fixed Left Share -->

    <!-- Begin Post -->
    <div class="col-md-10 col-md-offset-2 col-xs-12">
      <div class="mainheading">

        <!-- Begin Top Meta -->
        <div class="row post-top-meta">
          <div class="col-md-2">
            <a href="author.html"><img class="author-thumb"
                                       src="{{post.avatarAuthor}}"
                                       alt="{{post.username}}"></a>
          </div>
          <div class="col-md-10">
            <a class="link-dark" href="author.html">{{post.username}}</a><a href="#" class="btn follow">Follow</a>
            <span class="author-description">Founder of WowThemes.net and creator of <b>"Mediumish"</b> theme that you're currently previewing. Developing professional premium themes, templates, plugins, scripts since 2012.</span>
            <span class="post-date">{{post.lastUpdate}}</span><span class="dot"></span><span
            class="post-read">6 min read</span>
          </div>
        </div>
        <!-- End Top Menta -->

        <h1 class="posttitle">{{post.title}}</h1>

      </div>

      <!-- Begin Featured Image -->
      <img class="featured-image img-fluid" src="{{post.image}}" alt="">
      <hr style="border-color: #14bae3;width: 125%;">
      <!-- End Featured Image -->

      <!-- Begin Post Content -->
      <div class="article-post">
        <p [innerHTML]="post.content"></p>
        <hr style="border-color: #14bae3;width: 125%;">
      </div>
      <!-- End Post Content -->

      <!-- Begin Tags -->
      <div class="after-post-tags">
        <ul class="tags">
          <li><a href="#">Design</a></li>
          <li><a href="#">Growth Mindset</a></li>
          <li><a href="#">Productivity</a></li>
          <li><a href="#">Personal Growth</a></li>
        </ul>
      </div>
      <!-- End Tags -->

      <!--      comment-->
      <app-comment [lstCmt]="lstCmt" [idPost]="post.id"></app-comment>

    <!-- End Post -->


  </div>
</div>
<!-- End Article
================================================== -->

<div class="hideshare"></div>

<!-- Begin Related
================================================== -->
<div class="graybg">
  <div class="container">
    <div class="row listrecent listrelated">

      <!-- begin post -->
      <div class="col-md-4">
        <div class="card">
          <a href="post.html">
            <img class="img-fluid img-thumb" src="assets/img/demopic/9.jpg" alt="">
          </a>
          <div class="card-block">
            <h2 class="card-title"><a href="post.html">Best recreational places to visit on a holiday</a></h2>
            <div class="metafooter">
              <div class="wrapfooter">
								<span class="meta-footer-thumb">
								<a href="author.html"><img class="author-thumb"
                                           src="{{post.avatarAuthor}}"
                                           alt="Sal"></a>
								</span>
                <span class="author-meta">
								<span class="post-name"><a href="author.html">Sal</a></span><br/>
								<span class="post-date">22 July 2017</span><span class="dot"></span><span
                  class="post-read">6 min read</span>
								</span>
                <span class="post-read-more"><a href="post.html" title="Read Story"><svg class="svgIcon-use" width="25"
                                                                                         height="25"
                                                                                         viewbox="0 0 25 25"><path
                  d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z"
                  fill-rule="evenodd"></path></svg></a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end post -->

      <!-- begin post -->
      <div class="col-md-4">
        <div class="card">
          <a href="post.html">
            <img class="img-fluid img-thumb" src="assets/img/demopic/8.jpg" alt="">
          </a>
          <div class="card-block">
            <h2 class="card-title"><a href="post.html">How travelling can change your life</a></h2>
            <div class="metafooter">
              <div class="wrapfooter">
								<span class="meta-footer-thumb">
								<a href="author.html"><img class="author-thumb"
                                           src="https://www.gravatar.com/avatar/e56154546cf4be74e393c62d1ae9f9d4?s=250&amp;d=mm&amp;r=x"
                                           alt="Sal"></a>
								</span>
                <span class="author-meta">
								<span class="post-name"><a href="author.html">Sal</a></span><br/>
								<span class="post-date">22 July 2017</span><span class="dot"></span><span
                  class="post-read">6 min read</span>
								</span>
                <span class="post-read-more"><a href="post.html" title="Read Story"><svg class="svgIcon-use" width="25"
                                                                                         height="25"
                                                                                         viewbox="0 0 25 25"><path
                  d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z"
                  fill-rule="evenodd"></path></svg></a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end post -->

      <!-- begin post -->
      <div class="col-md-4">
        <div class="card">
          <a href="post.html">
            <img class="img-fluid img-thumb" src="assets/img/demopic/7.jpg" alt="">
          </a>
          <div class="card-block">
            <h2 class="card-title"><a href="post.html">Little red dress and a perfect summer</a></h2>
            <div class="metafooter">
              <div class="wrapfooter">
								<span class="meta-footer-thumb">
								<a href="author.html"><img class="author-thumb"
                                           src="https://www.gravatar.com/avatar/e56154546cf4be74e393c62d1ae9f9d4?s=250&amp;d=mm&amp;r=x"
                                           alt="Sal"></a>
								</span>
                <span class="author-meta">
								<span class="post-name"><a href="author.html">Sal</a></span><br/>
								<span class="post-date">22 July 2017</span><span class="dot"></span><span
                  class="post-read">6 min read</span>
								</span>
                <span class="post-read-more"><a href="post.html" title="Read Story"><svg class="svgIcon-use" width="25"
                                                                                         height="25"
                                                                                         viewbox="0 0 25 25"><path
                  d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z"
                  fill-rule="evenodd"></path></svg></a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end post -->

    </div>
  </div>
</div>
<!-- End Related Posts
================================================== -->

<!-- Begin Twitter Timeline
================================================== -->
<div class="container margtop3rem">
  <a class="twitter-grid" href="https://twitter.com/TwitterDev/timelines/539487832448843776">WowThemesNet Tweets</a>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
<!-- End Twitter Timeline
================================================== -->


<!-- Begin Footer
================================================== -->
<div class="container">
  <div class="footer">
    <p class="pull-left">
      Copyright &copy; 2017 Your Website Name
    </p>
    <p class="pull-right">
      Mediumish Theme by <a target="_blank" href="https://www.wowthemes.net">WowThemes.net</a>
    </p>
    <div class="clearfix">
    </div>
  </div>
</div>
<!-- End Footer
================================================== -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="assets/js/jquery.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"-->
<!--        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"-->
<!--        crossorigin="anonymous"></script>-->
<!--<script src="assets/js/bootstrap.min.js"></script>-->
<!--<script src="assets/js/ie10-viewport-bug-workaround.js"></script>-->
<!--<script src="assets/js/mediumish.js"></script>-->


