<nav class="navbar navbar-expand-lg navbar-toggleable-md navbar-light bg-white fixed-top mediumnavigation">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">
    <img class="logo" src="./assets/img/logo1.png" alt="logo">
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto ml-auto position-elememt">
      <li class="nav-item active">
        <a href="/" class="logout nav-link ml-auto">Home</a>
      </li>
      <li class="nav-item active">
        <a href="/admin/add-post" class="logout nav-link ml-auto">Add Post</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPending" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Pending
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownPending">
          <a class="dropdown-item nav-item" href="/admin/review-post">Review Post</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPublished" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Published
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownPublished">
          <a class="dropdown-item nav-item" href="/admin/manage-post">Manage Post</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMypost" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          My Post
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownPublished">
          <a class="dropdown-item nav-item" href="/mypost/{{'published'}}">Published</a>
          <a class="dropdown-item nav-item" href="/mypost/{{'pending'}}">Pending</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a href="" class="logout nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 ml-auto">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <span class="search-icon"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path
        d="M20.067 18.933l-4.157-4.157a6 6 0 1 0-.884.884l4.157 4.157a.624.624 0 1 0 .884-.884zM6.5 11c0-2.62 2.13-4.75 4.75-4.75S16 8.38 16 11s-2.13 4.75-4.75 4.75S6.5 13.62 6.5 11z"></path></svg></span>
    </form>
  </div>
</nav>
