<!-- Sing in  Form -->
<section class="sign-in">
  <div class="container-account">
    <div class="signin-content">
      <div class="signin-image">
        <figure><img src="assets/img/signin-image.jpg" alt="sing up image"></figure>
      </div>

      <div>
        <h2 class="form-title">Sign in</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="register-form" id="login-form">
          <div class="form-group-account">
            <label class="label-account" for="inputUsername"><i class="zmdi zmdi-account material-icons-name"></i></label>
            <input type="text" name="your_name" id="inputUsername" [formControlName]="'username'" name="username"
                   placeholder="Username" required/>
          </div>
          <span class="error-message" *ngIf="!isValidUsername">{{validateService.usernameNull}}</span>
          <div class="form-group-account">
            <label class="label-account" for="inputPassword"><i class="zmdi zmdi-lock"></i></label>
            <input type="password" name="your_pass" id="inputPassword" [formControlName]="'password'"
                   placeholder="Password" required/>
          </div>
          <span class="error-message" *ngIf="!isValidPass">{{validateService.passwordNull}}</span>
          <div class="form-group-account">
            <input type="checkbox" name="remember-me" id="remember-me" class="agree-term"/>
            <label class="label-account" for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
          </div>
          <div class="form-group-account form-button">
            <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
          </div>
        </form>
        <div class="social-login">
          <span class="social-label">Or login with</span>
          <ul class="socials">
            <li style="cursor: pointer"><a (click)="loginGaceBook()"><i
              class="display-flex-center zmdi zmdi-facebook"></i></a></li>
            <li style="cursor: pointer"><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
            <li style="cursor: pointer"><a (click)="loginGoogle()"><i class="display-flex-center zmdi zmdi-google"></i></a>
            </li>
          </ul>
          <span><a routerLink="/register" class="signup-image-link">Create an account</a>
</span>
        </div>
      </div>
    </div>
  </div>
</section>

<!--</div>-->



