<div class="container" id="area-content">
  <notifier-container style="padding-top: 0px"></notifier-container>
  <section class="featured-posts">
    <div class="section-title">
      <h2><span>{{titlePage}}</span></h2>
    </div>
    <div class="card-columns listfeaturedtag" loading
         *ngFor="let post of myPosts">
      <!-- begin post -->
      <div class="card" id="{{'post-'+post.id}}">
        <div class="row">
          <div class="col-md-5 wrapthumbnail">
            <a (click)="viewPost(post)">
              <div class="thumbnail" style="background-image:url({{post.image}});">
              </div>
            </a>
          </div>
          <div class="col-md-7">
            <div class="card-block">
              <h2 class="card-title"><a style="cursor: pointer" (click)="viewPost(post)">{{post.title}}</a></h2>
              <!--                <h4 class="card-text">{{post.content}}</h4>-->
              <div class="text content-display">
                <p class="card-text" [innerHTML]="post.content"></p>
              </div>
              <div class="metafooter">
                <div class="wrapfooter">
								<span class="meta-footer-thumb">
								<a href="/"><img class="author-thumb"
                                 src="{{post.avatarAuthor}}"
                                 alt="Sal"></a>
								</span>
                  <span class="author-meta">
								<span class="post-name"><a href="author.html">{{post.username}}</a></span><br/>
								<span class="post-date">{{post.lastUpdate}}</span><span class="dot"></span><span
                    class="post-read">6 min read</span>
								</span>
                  <span class="post-read-more" style="padding-left: 10px" *ngIf="typepost=='pending'">
                  <a (click)="openDialog(post)" style="cursor: pointer" class="view"
                     title="View"
                     data-toggle="tooltip"><i class="material-icons">&#xE417;</i></a>
                    </span>
                  <!--            <a (click)="publishPost(post.id)" style="cursor: pointer" class="active" title="Publish" data-toggle="tooltip"><mat-icon style="color: #00ff22">verified_user</mat-icon></a>-->
                  <span class="post-read-more">
                  <a (click)="deletePost(post.id)" style="cursor: pointer" class="delete" title="Delete"
                     data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                  </span>
                  <span class="post-read-more">
                  <a (click)="editPost(post)" style="cursor: pointer" title="Edit"
                     data-toggle="tooltip"><mat-icon>edit</mat-icon></a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end post -->
    </div>
  </section>
</div>
