
<div class="content" *ngIf="action=='post-publish'">
  <div class="container">
    <div *ngFor="let post of postPublish">
      <div class="blogpost" id="{{'post-'+post.id}}">
        <h3><a (click)="viewPostPublish(post)" class="blog-title">{{post.title}}</a></h3>
        <hr>
        <div>
         <span class="meta-footer-thumb">
								<a href="/"><img class="author-thumb"
                                 src="{{post.avatarAuthor}}"
                                 alt="Sal"></a>
								</span>
          <p>{{post.username}}</p>
        </div>
        <!--        <section class="featured-posts">-->
        <!--        <div style="padding-top: 50px">-->
        <!--          <p [innerHTML]="post.content"></p>-->
        <!--        </div>-->
        <!--        </section>-->
        <div>
          <a type="button" (click)="openDialog(post.title,post.content,post)" class="read-more btn btn-default">Read
            More</a></div>
        <hr>
        <button type="button" class="btn btn-outline-primary btn-sm" (click)="publishPost(post.id)">Acept</button>
        <button type="button" class="btn btn-outline-danger btn-sm" (click)="deletePost(post.id)">Delete</button>
        <hr>
      </div>
      <!--      <hr>-->
    </div>
  </div>
  <mat-paginator [pageSizeOptions]="[1,2,3]" [pageSize]="1" [length]="totalElements"
                 (page)="nextPage($event,'publish')">
  </mat-paginator>
</div>

<div class="container-xl">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-8"><h2>Customer <b>Details</b></h2></div>
          <div class="col-sm-4">
            <div class="search-box">
              <i class="material-icons">&#xE8B6;</i>
              <input type="text" class="form-control" placeholder="Search&hellip;">
            </div>
          </div>
        </div>
      </div>
      <table class="table table-striped table-hover table-bordered" style="text-align: center">
        <thead>
        <tr>
          <th>#</th>
          <th>Title <i class="fa fa-sort"></i></th>
          <th>Author</th>
          <th>Last Update <i class="fa fa-sort"></i></th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody *ngFor="let post of postsPending">
        <tr id="{{'post-'+post.idPending}}">
          <td>1</td>
          <td>{{post.title}}</td>
          <td>
            <span class="meta-footer-thumb">
								<a href="/"><img class="author-thumb"
                                 src="{{post.avatarAuthor}}"
                                 alt="Sal"></a>
								</span>
            <span>
            {{post.userCreate}}
              </span>
          </td>
          <td>{{post.lastUpdate}}</td>
          <td>
            <a (click)="openDialog(post.title,post.content,post)" style="cursor: pointer" class="view" title="View" data-toggle="tooltip"><i class="material-icons">&#xE417;</i></a>
            <a (click)="publishPost(post.idPending)" style="cursor: pointer" class="active" title="Publish" data-toggle="tooltip"><mat-icon style="color: #00ff22">verified_user</mat-icon></a>
            <a (click)="deletePost(post.idPending)" style="cursor: pointer" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
          </td>
        </tr>
        </tbody>
      </table>
      <mat-paginator [pageSizeOptions]="[1,2,3]" [pageSize]="1" [length]="totalElements"
                     (page)="nextPage($event,'pending')">
      </mat-paginator>
    </div>
  </div>
</div>

